.sidebar {
    border-right: 1px solid #ededed;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        transition: all 0.3s;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        padding: 20px 15px 20px 15px;
        display: block;
        position: relative;
        font-weight: 500;
        &:hover, &.active {
            background-color: #f6f6f6;
            &:before {
                display: block;
                content: "";
                position: absolute;
                height: 100%;
                width: 5px;
                background-color: var(--primary-color);
                left: 0;
                top: 0;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
            }
        }
    }
    i {
        font-size: 1.2em;
        color: var(--primary-color);
        margin: 0 15px 0;
    }

    i.fa-angle-down {
        border-left: 1px solid #ccc;
        float: right;
        margin: 4px 0 0;
        padding: 0 0px 0 10px;
    }

    i.fa-tv {
        font-size: 0.9em;
    }
}

ul.subMenu__sidebar {
    background-color: #f6f6f6;
    
    a {
        padding: 10px 15px 10px 40px;
        font-size: 14px;
        position: relative;
        &:hover {
            background-color: var(--primary-color);
            color: #fff;
            i {
                color: #fff;
            }
        }
        &::before {
            display: none !important;
        }

        i {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}